.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0%;
    padding-left: 20%;
    width: 70%;
}
.notice {
    color: #ff0000; /* Or any color you prefer */
    font-size: 0.9em; /* Adjust font size as needed */
}
.headers1 {
    margin-left: 10%;
    position: relative;
}

.data-table-container {
    margin-top: 6.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Reduced padding */
    margin-left: 15%;
    width: 80%; /* Adjust width */
}

.data-table-header {
    margin-bottom: 20px;
}

.data-table {
    width: 100%;
    max-width: 80%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: 50px;
}

.data-table th,
.data-table td {
    border: 1px solid #dddddd;
    padding: 19px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
}

.data-table td {
    font-size: 14px;
}

.data-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-table tbody tr:hover {
    background-color: #f0f0f0;
}

.data-table button {
    padding: 8px 12px;
    background-color: #2596be;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.data-table button:hover {
    background-color: #2596be;
}

body {
    overflow-y: hidden;
}

.checkbox-column {
    display: flex;
    flex-direction: row;
}

.checkbox-column label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
}

.checkbox-column input[type="checkbox"] {
    margin-right: 10px;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.checkbox-column input[type="checkbox"]:checked {
    background-color: #2596be;
    border-color: #2596be;
}

.checkbox-column input[type="checkbox"]:checked + span {
    color: #2596be;
}

.checkbox-column input[type="checkbox"]:checked::after {
    content: '✔';
    font-size: 12px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backbutton {
    position: relative;
    left: 145px;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    margin-bottom: -9%;
}

.backbutton:hover {
    color: #2596be;
}

.actions {
    margin-top: 20px;
    text-align: center;
}

.scaledownButton {
    padding: 8px 20px; 
    background-color: #2596be;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 350%;
    font-size: 16px;
}

.scaledownButton:hover {
    background-color: #2596be;
}
